@import '../../../helpers/_variables.scss';

h1 a {
  text-decoration: none;
}

a.linkButton {
  display: inline-block;
  font-size: 18px;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background-color: inherit;
  text-decoration: none;

  &:hover {
    color: $success-color;
    border: 1px solid $success-color;
    border-radius: 5px;
  }

  &.red {
    color: $error-color;
    border: 1px solid $error-color;
  }

  &.small {
    padding: 6px 18px;
    font-size: 14px;
    align-self: center;
  }
}